:root {
	--color-primary: red;
	--color-secondary: lightpink;
	--color-tertiary: white;
	--color-accent: indigo;
}

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	padding: 0;
	margin: 0;
	background: radial-gradient(circle at top left,
			var(--color-secondary), var(--color-tertiary));
	background-attachment: fixed;
}

h1 {
	font-size: xx-large;
}

a,
h1,
h2,
h3 {
	text-decoration: none;
	color: var(--color-accent);
}

button {
	min-width: 6rem;
	padding: 0.5rem;
	border: none;
	border-radius: 0.5rem;
	color: var(--color-tertiary);
	background: var(--color-primary);
}

section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.date {
	color: var(--color-primary);
}

.heading {
	text-align: center;
	margin: 1rem;
}

.heading .divider {
	margin-left: auto;
	margin-right: auto;
}

.heading-host {
	background: color-mix(in srgb, var(--color-secondary) 80%, var(--color-accent));
}

.card {
	padding: 1rem;
	border-radius: 1rem;
	background: var(--color-tertiary);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card>* {
	margin: 1.5rem 1rem;
}

.icon,
.logo {
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	margin: 0.5rem;
	vertical-align: middle;
	background: var(--color-primary);
	mask-size: cover;
}

.logo {
	width: 3rem;
	height: 3rem;
}

.icon-background,
.logo-background {
	width: 3rem;
	height: 3rem;
	padding: 0.2rem;
	border-radius: 50%;
	background: var(--color-secondary);
}

.logo-background {
	display: block;
	width: 5rem;
	height: 5rem;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;
}

.icon-host {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-text {
	flex-grow: 1;
	margin-left: 0.5rem;
	border-radius: 1rem;
	background: color-mix(in srgb, var(--color-tertiary) 80%, black);
}

.icon-text p {
	width: 85%;
	height: 100%;
	padding: 0.4rem 1rem;
	margin: 0;
	border-radius: 1rem 0.4rem 0.4rem 1rem;
	color: var(--color-tertiary);
	background: var(--color-primary);
}

.divider {
	width: 10%;
	height: 0.2rem;
	border-radius: 0.5rem;
	background: var(--color-primary);
}

.flex-host {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flex-content {
	flex: 1 1 18rem;
	margin: 1rem;
}

.carousel-host {
	display: flex;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	scroll-behavior: smooth;
}

.carousel-host::-webkit-scrollbar {
	display: none;
}

.carousel-content {
	flex: 1 0 40%;
	margin: 0.1rem 1rem;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.carousel-img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	-o-object-fit: cover;
	object-fit: cover;
}

header,
.footer-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.5rem;
}

.header-drawer {
	padding: 0.5rem;
}

.header-drawer a {
	display: inline-block;
	vertical-align: middle;
	margin: 0.5rem;
}

.header-drawer-toggle {
	display: none;
}

header img {
	width: 52px;
}

footer {
	padding: 0.5rem;
	background: var(--color-accent);
}

footer * {
	color: var(--color-tertiary);
}

footer .icon {
	background: var(--color-tertiary);
}

footer img {
	width: 96px;
}

.footer-content {
	padding: 2rem 0.5rem;
}

.main-content {
	min-height: 70%;
}

/* INDEX PAGE STYLE */
.about-content {
	position: relative;
	align-self: center;
	margin-bottom: 2rem;
}

.about-content>* {
	margin-left: 4rem;
}

.about-content .icon {
	background: var(--color-accent);
}

.about-content ul {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin-left: 0;
	list-style-type: none;
}

.about-img-container {
	height: 500px;
}

.about-img-container img {
	height: 100%;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.course .card,
.testimonial .card,
.contact .card,
.hobbies .card {
	text-align: center;
}

.testimonial .divider {
	margin-left: auto;
	margin-right: auto;
}

.testimonial-img {
	display: block;
	width: 6rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
}

.activity-host {
	display: block;
	overflow: auto;
	width: 90%;
	max-height: 40rem;
	padding: 0rem 0.5rem;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1rem;
	border: 1px solid var(--color-primary);
	scrollbar-width: none;
}

.activity-host::-webkit-scrollbar {
	display: none;
}

.activity-host h3 {
	position: -webkit-sticky;
	position: sticky;
	text-align: center;
	top: 0;
	padding: 0.8rem;
	border-radius: 0.5rem;
}

.activity-host .activity-year {
	text-align: right;
	background: var(--color-secondary);
}

.activity-day-host {
	flex-basis: 15%;
	text-align: center;
	padding-left: 0.1rem 0.3rem;
}

.activity-day-text {
	font-size: 0.8rem;
}

.activity-day {
	position: -webkit-sticky;
	position: sticky;
	top: 0.8rem;
	font-size: 1.2rem;
	margin-top: 0;
}

.activity-today .activity-day-text {
	color: var(--color-primary);
}

.activity-today .activity-day {
	border-radius: 2rem;
	padding: 0.4rem;
	color: var(--color-tertiary);
	background: var(--color-primary);
}

.activity-item-host {
	flex-basis: 80%;
}

.activity-item {
	border-radius: 0.5rem;
	background: var(--color-primary);
}

.activity-item p {
	padding: 1rem;
	color: var(--color-tertiary);
}


/* ABOUT PAGE STYLE */
.role-drawer {
	display: none;
}

.role-drawer-open {
	display: block;
}

.role-drawer-toggle {
	cursor: pointer;
}

.role-drawer-toggle-on {
	transform: rotate(-90deg);
}

.interest .icon-host {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}


/* CONTACT PAGE STYLE */
.contact-detail {
	margin-top: 1rem;
}

.contact-message {
	flex-grow: 2;
	padding-left: 2rem;
	padding-right: 2rem;
}

.contact-form-host {
	flex-grow: 3;
}

.contact-form {
	text-align: left;
}

.contact-form>input,
.contact-form textarea {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	resize: none;
}

.contact-form-phone {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.contact-form-phone>select {
	flex-basis: 25%;
	padding: 0.5rem;
}

.contact-form-phone>input {
	flex-grow: 1;
	margin-left: 0.4rem;
}


/* DOCUMENT PAGE STYLE */
.cert img {
	width: 100%;
	border-radius: 1rem;
	border: 2px solid var(--color-primary);
}


/* GALLERY PAGE STYLE */
.gallery-host {
	align-items: flex-start;
}

.gallery table {
	flex-basis: 50%;
}

.gallery td {
	width: 30%;
	height: 8rem;
	padding: 0.05rem;
}

.gallery td[colspan="2"] {
	width: 60%;
	height: 16rem;
}

.gallery td[rowspan="3"] {
	height: 24rem;
}

.gallery-host-close {
	display: none;
}

.flip-card {
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-tertiary);
	background: transparent;
	perspective: 1000px;
}

.flip-card-content {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-content {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flip-card-back {
	overflow: auto;
	background-color: var(--color-tertiary);
	transform: rotateY(180deg);
}

.flip-card-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}


/* SMALL SCREEN STYLE */
@media (max-width: 720px) {
	.divider {
		width: 20%;
	}

	.flex-content {
		flex-basis: 80%;
	}

	.carousel-content {
		flex-basis: 80%;
	}

	header {
		position: relative;
		z-index: 1;
	}

	.header-drawer {
		display: none;
	}

	.header-drawer-open {
		display: block;
		position: absolute;
		min-width: 12rem;
		top: 70%;
		right: 1rem;
		padding: 0.5rem;
		border-radius: 1rem;
		background: var(--color-tertiary);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}

	.header-drawer-open a {
		display: block;
		margin: 0.2rem;
		padding: 0.4rem;
	}

	.header-drawer-toggle {
		display: block;
	}

	.footer-content {
		flex-flow: column;
		align-items: center;
	}

	/* INDEX PAGE STYLE */
	.about {
		padding-top: 0.5rem;
	}

	.about-content {
		flex-basis: 80%;
		text-align: center;
	}

	.about-content>* {
		margin-left: 0.5rem;
	}

	.about-content ul {
		position: relative;
		padding: 0.5rem;
	}

	.about-content li {
		display: inline;
	}
	
	/* GALLERY PAGE STYLE */
	.gallery table {
		flex-basis: 100%;
	}
}